@import '../../../styles/variables.scss';
.dropZoneContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    .dropZoneOverlay,
    .FileUpload {
        width: 70%;
        @media ( max-width: 500px) {
            width: 90%
        }
        padding: 25px;
        max-width: 500px;
    }
    .dropZoneOverlay {
        border: dashed 1px $primary;
        border-radius: 10px;
        position: relative;
        color: $primary;
        font-weight: 600;
        top: 0px;
        text-align: center;
        .btn {
            background-color: $primary;
            color: white;
            padding: 5px 10px;
        }
    }
    .FileUpload {
        opacity: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
}